html {
  overflow-y: auto;
}

body {
  color: #fff;
  margin-left: 15rem;
}

section {
  padding: 1rem;
}

ul li {
  list-style-type: square;
}

.sidebar {
  padding-left: calc($padding - 0.75rem);
  padding-right: calc($padding - 0.75rem);
  position: absolute;
}

.sidebar .category-header {
  padding: 0.5em 0.75em;
  color: #c39c67;
  font-weight: bold;
}

.sidebar .menu {
  position: fixed;
  width: calc($sidebar-width - 2.5rem);
  max-width: inherit;
}

.sidebar .menu-list a {
  font-size: 0.875rem;
  line-height: 24px;
  color: #949ba2;
}

.sidebar:before {
  content: "";
  background-color: #1f2633;
  width: 15rem;
  position: fixed;
}

.sidebar,
.sidebar:before {
  top: 0;
  bottom: 0;
  left: 0;
}

.main {
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
}

.main header {
  line-height: 18px;
}

.main header h2 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.main header hr {
  background-color: transparent;
  border-top: 1px solid #313b50;
}

.main header small {
  color: #949ba2;
  text-align: right;
}

.main:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -2;
  left: 0;
  right: 0;
  background-image: -webkit-radial-gradient(top, circle cover, #2b3447 0%, #1f2633 70%);
  background-image: -moz-radial-gradient(center, circle cover, #2b3447 0%, #1f2633 70%);
  background-image: -o-radial-gradient(center, circle cover, #2b3447 0%, #1f2633 70%);
  background-image: radial-gradient(center, circle cover, #2b3447 0%, #1f2633 70%);
  background-position: 50%, 50%;
}

.sidebar,
.main {
  margin-top: 3.25rem;
  padding-top: 2rem;
}

.navbar {
  box-shadow: 0px 0px 21px #191f2a;
}

.navbar-brand {
  width: 15rem;
  background-color: #c39c67;
  margin-right: calc($padding - 0.75rem);
}

.navbar-brand .navbar-item {
  padding-left: 2rem;
}

.box hr {
  background-color: #313b50;
}

.box.transparent {
  background-color: transparent;
}

.box.accent {
  background-color: #c39c67;
}

.box.accent .subtitle {
  color: #252d3d;
}

.statcard {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.statcard .statcard-number {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.125;
}

.statcard .statcard-desc {
  font-size: 85%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #949ba2;
}

.statcard .delta-indicator {
  display: inline-block;
  padding: 0.4em;
  font-size: 12px;
  vertical-align: middle;
}

.statcard .delta-indicator:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  margin-left: 2px;
  vertical-align: middle;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/* overwrite bulma, try to resolve with variables */
.box {
  background-color: #313b50;
  box-shadow: none;
  border-radius: 3px;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.title,
.tile {
  color: #ffa500;
}

.subtitle {
  color: #949ba2;
  font-size: 1rem;
}

.navbar-item.is-tab:hover {
  background-color: transparent;
  border-bottom-color: #949ba2;
}

.navbar-item.is-tab {
  border-bottom: 3px solid transparent;
  min-height: 3.25rem;
  padding-bottom: calc(0.5rem - 1px);
}

a.navbar-item:hover {
  color: #191f2a;
}

.breadcrumb li + li::before,
.breadcrumb li a {
  color: #fff;
}

.breadcrumb li a:hover,
.breadcrumb li.is-active a {
  color: #c39c67;
}

.tabs ul {
  border-bottom-color: #949ba2;
}

.tabs li.is-active a {
  border-bottom-color: #ffa500;
  color: #ffa500;
}

.tabs a {
  border-bottom-color: #949ba2;
  color: #949ba2;
}

.tabs a:hover {
  border-bottom-color: #ffa500;
  color: #ffa500;
}

.pagination-link,
.pagination-next,
.pagination-previous {
  border-color: #949ba2;
  color: #949ba2;
}

.pagination-link.is-current,
.pagination-link:hover,
.pagination-next:hover,
.pagination-previous:hover {
  background-color: transparent;
  border-color: #ffa500;
  color: #ffa500;
}

.health-care {
  width: 55rem;
}

.wellness-dimensions {
  margin-top: 3.5rem;
  text-align: right;
}

.wellness-dimensions li {
  margin: 1.5rem;
  list-style: none;
}

.wellness-dimensions li b {
  color: #c39c67;
}

.wellness {
  margin-left: 5rem;
  max-width: 25rem;
}

.general-facts h1 {
  font-size: 1.75rem;
  font-weight: bold;
}

.general-facts h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #fff;
}

.general-facts ul {
  color: #385f37;
}

.general-facts ul li {
  color: #fff;
}

.chart2 {
  height: 50rem;
  padding-bottom: 5rem;
  margin-bottom: 20rem;
  display: flex;
  flex-direction: row;
}

.pie-chart {
  width: 60rem;
  display: flex;
  flex-direction: column;
}

.pie-chart h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.barChart {
  width: 100%;
}

.ripple-effect ul.title {
  color: #385f37;
  font-size: 1.5rem;
  font-weight: bold;
}

.ripple-effect ul.title li {
  margin-top: 0.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
}

.bar-chart h1 {
  font-size: 2rem;
  font-weight: bold;
}

footer {
  padding: 1rem;
}

footer h2 {
  color: #ffa500;
}

footer hr {
  width: 100%;
}
